In [66]:
import pandas as pd
df=pd.read_csv("6월 평가데이터 수정.csv")
df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,강수량,평균기온(℃)
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7
...,...,...,...,...,...,...,...,...,...,...,...
2886,2020-07-01 00:20:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1
2887,2020-07-01 00:40:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1
2888,2020-07-01 01:00:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1
2889,2020-07-01 01:20:00,20.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1
2890,2020-07-01 01:40:00,16.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1

In [67]:
lst11 = [100205, 100524]
for i in lst11:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 11
lst12 = [100388, 100203]
for i in lst12:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 12

In [68]:
lst15 = [100150, 100579]
for i in lst15:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 15
lst16 = [100155, 100574, 100091]
for i in lst16:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 16
lst17 = [100148, 100575]
for i in lst17:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 17
lst18 = [100577, 100151]
for i in lst18:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 18
lst19 = [100578, 100153]
for i in lst19:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 19
lst20 = [100576, 100289]
for i in lst20:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 20
lst21 = [100152, 100572, 100156]
for i in lst21:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 21
lst22 = [100149, 100573, 100290, 100067,100590,100592,100138,100068, 100092,100068]
for i in lst22:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 22
lst23 = [100154]
for i in lst23:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 23

In [69]:
lst24 = [100378, 100558, 100057,100312,100622,100624,100309,100654, 100562, 100539,100623.100058,100299,100315,100382,100532,100310,100784,100670,100044,100220,100653,100056,100540,100055,100826,100671,100125,100536,100321,100655,100263,100367,100666,100651, 100054]
for i in lst24:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 24
    
lst25 = [100055, 100299, 100057]
for i in lst25:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 25

In [70]:
lst26 = [100011, 100012, 100014, 100046, 100116, 100167, 100183, 100349, 100350, 100383, 100437, 100514, 100552, 100559, 100621, 100706, 100767, 100785, 100825, 100849]
for i in lst26:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 26

lst27 = [100253, 100301, 100322, 100323, 100511, 100513, 100521, 100523, 100535, 100537, 100538, 100542, 100546, 100548, 100550, 100637, 100639, 100644, 100686, 100796, 100800, 100841, 100847]
for i in lst27:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 27

lst28 = [100008, 100035, 100169, 100361, 100499, 100544, 100746]
for i in lst28:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 28

In [71]:
lst29 = [100328,100320,100501, 100421,100636,100329, 100330]
for i in lst29:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 29
    
lst30 = [10022,100134,100226, 100239,100182,100433,100330, 100807]
for i in lst30:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 30
    
lst31 = [100052,100372, 100436, 100675, 100791, 100136, 100668,100176,100563,100763,100635, 100126, 100397, 100379,100051, 100029, 100146,100634, 100794,100024,100256,100175,100208, 100329,100234,100025,100472,100137, 100593,100591,100402,100119, 100379,100030, 100593,100393,100674,100823]
for i in lst31:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 31
    
lst32 = [100471]
for i in lst32:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 32
     
lst33 = [100227, 100450, 100470, 100798,100469,100147,100736, 100176, 100135,100174, 100595,100334,100047,100793,100395,100217,100425,100645,100396, 100133,100842]
for i in lst33:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 33

lst34 =  [100738,100368, 100764,100201,100115, 100409, 100625, 100626, 100400,100568,100311, 100060,100082, 100360]
for i in lst34:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 34

In [72]:
lst35 = [100693, 100305, 100607, 100193, 100078, 100191, 100609, 100441]
for i in lst35:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 35

lst36 =[ 100664, 100718, 100305, 100445, 100606, 100696, 100124, 100284, 100286, 100629, 100278, 100081, 100124, 100285, 100719, 100080, 100597, 100302, 100692, 100192, 100718, 100717, 100077, 100439, 100308, 100440, 100836 ]
for i in lst36:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 36
lst37=[ 100194, 100779, 100276, 100445, 100195, 100079, 100780, 100695, 100348, 100776, 100238, 100612, 100443, 100610, 100604, 100597, 100224, 100098, 100281, 100618, 100279, 100287, 100099, 100225]
for i in lst37:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 37

lst38 = [100632, 100665, 100610, 100604]
for i in lst38:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 38

lst39=[ 100613, 100620, 100277]
for i in lst39:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 39

lst40 = [100599, 100598,100596, 100288, 100405]
for i in lst40:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 40

In [73]:
lst41 = [100346, 100809, 100377, 100251, 100342, 100221, 100815, 100585, 100458, 100335, 100257, 100374, 100354, 100416, 100380, 100810, 100714, 100820, 100282, 100682, 100387, 100403, 100822, 100181, 100083, 100346, 100392, 100374, 100344, 100339, 100415,100650, 100461, 100525, 100407, 100108, 100727]
for i in lst41:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 41
lst42 = [100808, 100584, 100250, 100762, 100783, 100127, 100089, 100569, 100713, 100130, 100713, 100345 , 100456, 100130, 100417, 100343, 100357, 100343, 100131, 100132, 100465, 100416, 100403, 100412, 100094, 100811, 100338, 100129, 100351, 100459, 100423, 100413,100457, 100291]
for i in lst42:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 42
lst43 = [100816, 100377, 100049, 100271, 100454, 100271, 100222, 100761, 100336, 100481, 100369, 100214, 100270, 100452, 100346, 100090, 100466, 100464, 100818, 100352, 100715, 100479, 100353, 100455, 100272, 100270, 100062, 100458, 100815, 100458, 100063, 100128, 100458, 100296, 100462, 100712, 100340, 100712, 100268, 100814, 100107, 100418, 100586, 100249, 100354, 100394, 100043, 100463, 100420, 100376, 100269, 100458, 100356]
for i in lst43:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 43
lst44 = [100452, 100251]
for i in lst44:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 44
lst45 = [100352, 100042, 100398]
for i in lst45:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 45
lst46 = [100341, 100815, 100460, 100817, 100465, 100109, 100095, 100404, 100093, 100406, 100248, 100452, 100631,100648, 100647,100291,100649,100358,100480, 100110, 100419, 100106, 100480, 100261]
for i in lst46:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 46

In [74]:
lst47 =[ 100000,100178]
for i in lst47:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 47

lst48=[ 100045, 100118, 100213, 100245, 100319, 100529, 100438]
for i in lst48:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 48

lst49=[100074, 100327, 100541]
for i in lst49:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 49

lst50 = [100212, 100247, 100314, 100332, 100774, 100672, 100766, 100711, 100451,100633, 100363]
for i in lst50:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 50
lst51=[ 100211, 100362, 100773]
for i in lst51:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 51

lst52=[ 100244, 100258, 100260, 100266, 100723, 100259,100799]
for i in lst52:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 52
lst53 =[100265, 100262, 100267, 100446, 100628, 100680, 100681, 100685, 100697, 100775, 100824,100381, 100331, 100333, 100806, 100059]
for i in lst53:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 53

lst54=[ 100399, 100710]
for i in lst54:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 54

In [75]:
lst55 = [100017,100018, 100019,100020,100021,100158,100161, 100163, 100164, 100173, 100385, 100386, 100389, 100390, 100729, 100731, 100732, 100749, 100748, 100750, 100751, 100752, 100753, 100754, 100755, 100756, 100757, 100758, 100781, 100782,100730,100159,100160,100759, 100760]
for i in lst55:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 55

lst56 = [100006, 100162,100005]
for i in lst56:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 56

lst57 = [100034,100365]
for i in lst57:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 57

lst58 = [100185, 100643, 100677, 100186, 100313,100663]
for i in lst58:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 58

lst59 = [100069, 100070, 100084, 100219, 100246, 100482, 100488, 100489, 100600, 100601, 100602, 100734, 100742, 100743,100526, 100662]
for i in lst59:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 59


lst60 = [100031, 100032, 100033, 100292, 100293, 100786, 100787, 100788]
for i in lst60:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 60

lst61 = [100196, 100197, 100232, 100678, 100679]
for i in lst61:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 61

lst62 = [100036, 100037, 100038, 100039, 10040, 100184, 100187, 100188, 100189, 100190, 100735, 100845, 100846]
for i in lst62:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 62

lst63 = [100215, 100218, 100401]
for i in lst63:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 63

In [76]:
lst64 = [100264, 100410, 100448, 100724, 100837, 100838,100004]
for i in lst64:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 64

lst65 = [100096, 100097, 100104, 100113, 100117, 100209, 100210 , 100228, 100231, 100236, 100255, 100254, 100295, 100326, 100366, 100371, 100408, 100427, 100432, 100449, 100483, 100509, 100518, 10519, 100520, 100527, 100528, 100530, 100531, 100533, 100627, 100656, 100657, 100658, 100667, 100673, 100683, 100684, 100716, 100765, 100771, 100803, 100805, 100839, 100843,100428, 100429]
for i in lst65:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 65

lst66 =  [100001, 100061, 100100, 100101, 10102, 100103, 100179, 100180, 100240, 100241, 100242, 100243, 100411, 100477, 100478, 100571, 100676, 100768,100804]
for i in lst66:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 66

lst67 = [100028, 100064, 100065, 100066, 100085, 100086, 100087, 100088, 100216, 100473, 100474, 100475, 100476, 100506, 100515, 10516, 100517, 100580, 100638, 100709, 100725, 100769, 100770,100772, 100431, 100003]
for i in lst67:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 67

lst68 = [100235, 100237, 100294, 100467, 100468, 100508]
for i in lst68:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 68

In [77]:
lst69 = [100139, 100140, 100142, 100143, 100144, 100145, 100200,100141]
for i in lst69:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 69

lst70 = [100503, 100105, 100120]
for i in lst70:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 70

lst71 = [100111, 100112, 100447, 100813]
for i in lst71:
    df.loc[df['마더코드'] == i , '상품군/소분류'] = 71

In [78]:
df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,강수량,평균기온(℃),상품군/소분류
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.0
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.0
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.0
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.0
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2886,2020-07-01 00:20:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,NaN
2887,2020-07-01 00:40:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,NaN
2888,2020-07-01 01:00:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,NaN
2889,2020-07-01 01:20:00,20.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.0
2890,2020-07-01 01:40:00,16.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.0

In [79]:
time=[10,11,13,14,15,16,17,18,23,"00"]
df3=pd.DataFrame({
    "prime":time
})
df3

  prime
0    10
1    11
2    13
3    14
4    15
5    16
6    17
7    18
8    23
9    00

In [80]:
arr=[]

for i in df.index:
    cnt=0
    for j in df3["prime"]:
        time=str(df["방송일시"][i])[11:13]
        if str(j) in time:
            arr.append(1)
            break
        else:
            cnt=cnt+1
    if cnt==10:
        arr.append(0)

In [81]:
df["프라임시간대"]=arr
df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,강수량,평균기온(℃),상품군/소분류,프라임시간대
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.0,0
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.0,0
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.0,0
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.0,0
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,2020-07-01 00:20:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,NaN,1
2887,2020-07-01 00:40:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,NaN,1
2888,2020-07-01 01:00:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,NaN,0
2889,2020-07-01 01:20:00,20.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.0,0
2890,2020-07-01 01:40:00,16.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.0,0

In [82]:
df.to_csv("6월 평가데이터_최종.csv",index=False)