In [54]:
import pandas as pd
import numpy as np

#데이터 불러오기
data = pd.read_csv('실적데이터_전처리_최종.csv')

In [55]:
data["강수량"]=data["강수량"].fillna(0)
data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,상품군/대분류,평일/주말,상품군/소분류,강수량,평균기온(℃),프라임시간대
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000,1,6,0,43.0,0.0,-5.0,0
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000,1,6,0,43.0,0.0,-5.0,0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000,1,6,0,43.0,0.0,-5.0,0
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000,1,6,0,43.0,0.0,-5.0,0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000,1,6,0,43.0,0.0,-5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37367,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000,1,9,0,64.0,0.0,-7.9,1
37368,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000,2,9,0,64.0,0.1,-2.2,1
37369,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000,2,9,0,64.0,0.1,-2.2,1
37370,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000,2,9,0,64.0,0.1,-2.2,1
37371,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000,2,9,0,64.0,0.1,-2.2,1

In [56]:
data[['상품군/소분류']] = data[['상품군/소분류']].fillna(data[['상품군/소분류']].mean())

In [57]:
X = data[['노출(분)','판매단가','요일','상품군/대분류','상품군/소분류','강수량','평균기온(℃)','프라임시간대']]
Y = data[['취급액']]

X

       노출(분)    판매단가  요일  상품군/대분류  상품군/소분류  강수량  평균기온(℃)  프라임시간대
0       20.0   39900   1        6     43.0  0.0     -5.0       0
1       20.0   39900   1        6     43.0  0.0     -5.0       0
2       20.0   39900   1        6     43.0  0.0     -5.0       0
3       20.0   39900   1        6     43.0  0.0     -5.0       0
4       20.0   39900   1        6     43.0  0.0     -5.0       0
...      ...     ...  ..      ...      ...  ...      ...     ...
37367   20.0  148000   1        9     64.0  0.0     -7.9       1
37368   20.0  178000   2        9     64.0  0.1     -2.2       1
37369   20.0  168000   2        9     64.0  0.1     -2.2       1
37370   20.0  158000   2        9     64.0  0.1     -2.2       1
37371   20.0  148000   2        9     64.0  0.1     -2.2       1

[37372 rows x 8 columns]

In [58]:
from sklearn.model_selection import train_test_split


X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=321)

In [59]:
X.dtypes

노출(분)      float64
판매단가         int64
요일           int64
상품군/대분류      int64
상품군/소분류    float64
강수량        float64
평균기온(℃)    float64
프라임시간대       int64
dtype: object

In [60]:
Y.dtypes

취급액    int64
dtype: object

In [61]:
X.isnull().sum()

노출(분)      0
판매단가       0
요일         0
상품군/대분류    0
상품군/소분류    0
강수량        0
평균기온(℃)    0
프라임시간대     0
dtype: int64

In [62]:
Y.isnull().sum()

취급액    0
dtype: int64

In [63]:
from sklearn.ensemble import RandomForestRegressor
tree=RandomForestRegressor()

In [64]:
tree.fit(X_train, Y_train)

print("훈련 세트 정확도: {:.3f}".format(tree.score(X_train, Y_train)))
print("테스트 세트 정확도: {:.3f}".format(tree.score(X_test, Y_test)))

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

훈련 세트 정확도: 0.769
테스트 세트 정확도: 0.420

In [65]:
from sklearn.ensemble import GradientBoostingRegressor
gbrt =GradientBoostingRegressor(random_state=0)
gbrt.fit(X_train, Y_train)

print("훈련 세트 정확도: {:.3f}".format(gbrt.score(X_train, Y_train)))
print("테스트 세트 정확도: {:.3f}".format(gbrt.score(X_test, Y_test)))

C:\Users\user\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

훈련 세트 정확도: 0.374
테스트 세트 정확도: 0.376

In [66]:
data1 = pd.read_csv('6월 평가데이터_최종.csv')

In [67]:
data1

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,강수량,평균기온(℃),상품군/소분류,프라임시간대
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.0,0
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.0,0
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.0,0
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.0,0
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,2020-07-01 00:20:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,NaN,1
2887,2020-07-01 00:40:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,NaN,1
2888,2020-07-01 01:00:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,NaN,0
2889,2020-07-01 01:20:00,20.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.0,0
2890,2020-07-01 01:40:00,16.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.0,0

In [68]:
data1[['상품군/소분류']] = data1[['상품군/소분류']].fillna(data1[['상품군/소분류']].mean())
data1["강수량"]=data1["강수량"].fillna(0)
data1["상품군/대분류"]=None

In [35]:
data1

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,강수량,평균기온(℃),상품군/소분류,프라임시간대,상품군/대분류
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.000000,0,None
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.000000,0,None
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.000000,0,None
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.000000,0,None
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.000000,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,2020-07-01 00:20:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,36.789166,1,None
2887,2020-07-01 00:40:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,36.789166,1,None
2888,2020-07-01 01:00:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,36.789166,0,None
2889,2020-07-01 01:20:00,20.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.000000,0,None
2890,2020-07-01 01:40:00,16.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.000000,0,None

In [73]:
data1.loc[data1["상품군"]=="가구","상품군/대분류"]=0
data1.loc[data1["상품군"]=="무형","상품군/대분류"]=0
data1.loc[data1["상품군"]=="가전","상품군/대분류"]=1
data1.loc[data1["상품군"]=="건강기능","상품군/대분류"]=2
data1.loc[data1["상품군"]=="농수축","상품군/대분류"]=3
data1.loc[data1["상품군"]=="생활용품","상품군/대분류"]=4
data1.loc[data1["상품군"]=="속옷","상품군/대분류"]=5
data1.loc[data1["상품군"]=="의류","상품군/대분류"]=6
data1.loc[data1["상품군"]=="이미용","상품군/대분류"]=7
data1.loc[data1["상품군"]=="잡화","상품군/대분류"]=8
data1.loc[data1["상품군"]=="주방","상품군/대분류"]=9
data1.loc[data1["상품군"]=="침구","상품군/대분류"]=10
data1

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일,강수량,평균기온(℃),상품군/소분류,프라임시간대,상품군/대분류
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.000000,0,6
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.000000,0,6
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,"59,800",NaN,0,0.4,19.7,41.000000,0,6
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.000000,0,5
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,"69,900",NaN,0,0.4,19.7,37.000000,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,2020-07-01 00:20:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,36.789166,1,0
2887,2020-07-01 00:40:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,36.789166,1,0
2888,2020-07-01 01:00:00,20.0,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,-,NaN,2,0.0,21.1,36.789166,0,0
2889,2020-07-01 01:20:00,20.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.000000,0,6
2890,2020-07-01 01:40:00,16.0,100261,200875,아놀드파마 티셔츠레깅스세트,의류,"69,900",NaN,2,0.0,21.1,46.000000,0,6

In [74]:
data1["판매단가"]=data1["판매단가"].str.replace(",","")
data1["판매단가"]=data1["판매단가"].str.replace("-","0")
data1["판매단가"]=pd.to_numeric(data1["판매단가"])

In [75]:
X = data1[['노출(분)','판매단가','요일','상품군/대분류','상품군/소분류','강수량','평균기온(℃)','프라임시간대']]
X

      노출(분)   판매단가  요일 상품군/대분류    상품군/소분류  강수량  평균기온(℃)  프라임시간대
0      20.0  59800   0       6  41.000000  0.4     19.7       0
1      20.0  59800   0       6  41.000000  0.4     19.7       0
2      20.0  59800   0       6  41.000000  0.4     19.7       0
3      20.0  69900   0       5  37.000000  0.4     19.7       0
4      20.0  69900   0       5  37.000000  0.4     19.7       0
...     ...    ...  ..     ...        ...  ...      ...     ...
2886   20.0      0   2       0  36.789166  0.0     21.1       1
2887   20.0      0   2       0  36.789166  0.0     21.1       1
2888   20.0      0   2       0  36.789166  0.0     21.1       0
2889   20.0  69900   2       6  46.000000  0.0     21.1       0
2890   16.0  69900   2       6  46.000000  0.0     21.1       0

[2891 rows x 8 columns]

In [78]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   방송일시     2891 non-null   object
 1   노출(분)    1780 non-null   float64
 2   마더코드     2891 non-null   int64
 3   상품코드     2891 non-null   int64
 4   상품명      2891 non-null   object
 5   상품군      2891 non-null   object
 6   판매단가     2891 non-null   int64
 7   취급액      0 non-null      float64
 8   요일       2891 non-null   int64
 9   강수량      2891 non-null   float64
 10  평균기온(℃)  2891 non-null   float64
 11  상품군/소분류  2891 non-null   float64
 12  프라임시간대   2891 non-null   int64
 13  상품군/대분류  2891 non-null   object
dtypes: float64(5), int64(5), object(4)
memory usage: 316.3+ KB

In [76]:
prediction=tree.predict(X)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').